<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environment Variables</title>
</head>
<body>
    <h1>Hello dear using K8</h1>
{% for name in data %}
<p>{{name}}</p>    
{% endfor %}
    {% for key, value in env.items() %}
        <p><strong>{{ key }}</strong>: {{ value }}</p>
    {% endfor %}

</body>
<style>
    body {
        background-color: azure;
        font-family: Arial, sans-serif;
    }
</style>
</html>
